---
layout: default
---
        {{ content }}

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <script>
  $( function() {
    $( "#accordion" ).accordion({
      active: false,collapsible: true,heightStyle: "content"
    });
    $( "#accordion2" ).accordion({
      active: false,collapsible: true,heightStyle: "content"
    });
    $( "#accordion3" ).accordion({
      active: false,collapsible: true,heightStyle: "content"
    });
    $( "#accordion4" ).accordion({
      active: false,collapsible: true,heightStyle: "content"
    });
    $( "#accordion5" ).accordion({
      active: false,collapsible: true,heightStyle: "content"
    });
    $( "#accordion6" ).accordion({
      active: false,collapsible: true,heightStyle: "content"
    });
    $( "#accordion7" ).accordion({
      active: false,collapsible: true,heightStyle: "content"
    });
    $( "#accordion8" ).accordion({
      active: false,collapsible: true,heightStyle: "content"
    });
    $( "#accordion9" ).accordion({
      active: false,collapsible: true,heightStyle: "content"
    });
    $( "#accordion10" ).accordion({
      active: false,collapsible: true,heightStyle: "content"
    });
    $( "#accordion11" ).accordion({
      active: false,collapsible: true,heightStyle: "content"
    });
    $( "#accordion12" ).accordion({
      active: false,collapsible: true,heightStyle: "content"
    });
  } );
  </script>
